/* No longer used */
/* @import url(http://weloveiconfonts.com/api/?family=entypo); */

  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  html {
    font-size: 16px;
    /*border: 3px solid #005baa;
    height: 100%;*/
    position: relative;
    min-height: 100%;
   }
  @media (min-width: 30em) {
    html { font-size: 18px; }
  }
  body {
    margin: 0;
    font: 300 1rem/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    color: #333;
    color: #767676;
    background-color: #fafafa;
    margin-bottom: 60px; /* Margin bottom by footer height */
  }

  .main {
    padding: 1.5rem;
  }

  @media (min-width: 500px) {
    .main {
      padding: 3rem;
    }
  }
  a {
    color: #0074d9;
    text-decoration: none !important;
    -webkit-transition: color .2s ease-in-out;
       -moz-transition: color .2s ease-in-out;
            transition: color .2s ease-in-out;
  }
  a:hover {
    color: #005baa;
  }
  h1, h2, h3 {
    margin-top: 0;
    font-weight: 400;
  }
  h1 {
    margin-bottom: .5rem;
    font-size: 2.25rem;
    line-height: 1;
  }
  h1 a {
    color: #333;
  }
  h1 span {
    display: inline-block;
    font-weight: 300;
  }
  h2 {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #767676;
  }
  h3 {
    margin-bottom: 0;
    font-size: 1.25rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .lead {
    font-size: 1.25rem;
    line-height: 1.3;
    color: #333;
  }
  hr {
    width: 6rem;
    height: 1px;
    margin: 2.5rem 0;
    background-color: #e5e5e5;
    border: 0;
  }
  @media (min-width: 500px) {
    .masthead {
      max-width: 550px;
    }
  }

  .links {
    font-size: 1.9rem;
  }
  .links a {
    color: #666;
  }
  .links a:hover {
    color: #005baa;
  }


  /* entypo */
  /* [class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
  } */

  .footer {
  color: #fff !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #0074d9;
}

.copyright {
  padding-left: 2rem;
}

@media (max-width: 30em) {
  .copyright {
    padding-left: 0rem;
  }
}
